@model My_Application.Models.OneHundredDay

    <div class="topPanels">
        <div class="timePanel" id="txt"></div>
        <div class="titlePanel">Programming</div>
        <div class="datePanel" id="date"></div>
    </div>

 <form asp-action="Create">
    <div class="container">
                <label asp-for="Day001" class="label"></label>
                <input asp-for="Day001" type="checkbox" class="Checkbox">
                <label asp-for="Day002" class="label"></label>
                <input asp-for="Day002" type="checkbox" class="Checkbox">
                <label asp-for="Day003" class="label"></label>
                <input asp-for="Day003" type="checkbox" class="Checkbox">
                <label asp-for="Day004" class="label"></label>
                <input asp-for="Day004" type="checkbox" class="Checkbox">
                <label asp-for="Day005" class="label"></label>
                <input asp-for="Day005" type="checkbox" class="Checkbox">
                <label asp-for="Day006" class="label"></label>
                <input asp-for="Day006" type="checkbox" class="Checkbox">
                <label asp-for="Day007" class="label"></label>
                <input asp-for="Day007" type="checkbox" class="Checkbox">
                <label asp-for="Day008" class="label"></label>
                <input asp-for="Day008" type="checkbox" class="Checkbox">
                <label asp-for="Day009" class="label"></label>
                <input asp-for="Day009" type="checkbox" class="Checkbox">
                <label asp-for="Day010" class="label"></label>
                <input asp-for="Day010" type="checkbox" class="Checkbox">
                <label asp-for="Day011" class="label"></label>
                <input asp-for="Day011" type="checkbox" class="Checkbox">
                <label asp-for="Day012" class="label"></label>
                <input asp-for="Day012" type="checkbox" class="Checkbox">
                <label asp-for="Day013" class="label"></label>
                <input asp-for="Day013" type="checkbox" class="Checkbox">
                <label asp-for="Day014" class="label"></label>
                <input asp-for="Day014" type="checkbox" class="Checkbox">
                <label asp-for="Day015" class="label"></label>
                <input asp-for="Day015" type="checkbox" class="Checkbox">
                <label asp-for="Day016" class="label"></label>
                <input asp-for="Day016" type="checkbox" class="Checkbox">
                <label asp-for="Day017" class="label"></label>
                <input asp-for="Day017" type="checkbox" class="Checkbox">
                <label asp-for="Day018" class="label"></label>
                <input asp-for="Day018" type="checkbox" class="Checkbox">
                <label asp-for="Day019" class="label"></label>
                <input asp-for="Day019" type="checkbox" class="Checkbox">
                <label asp-for="Day020" class="label"></label>
                <input asp-for="Day020" type="checkbox" class="Checkbox">
                <label asp-for="Day021" class="label"></label>
                <input asp-for="Day021" type="checkbox" class="Checkbox">
                <label asp-for="Day022" class="label"></label>
                <input asp-for="Day022" type="checkbox" class="Checkbox">
                <label asp-for="Day023" class="label"></label>
                <input asp-for="Day023" type="checkbox" class="Checkbox">
                <label asp-for="Day024" class="label"></label>
                <input asp-for="Day024" type="checkbox" class="Checkbox">
                <label asp-for="Day025" class="label"></label>
                <input asp-for="Day025" type="checkbox" class="Checkbox">
                <label asp-for="Day026" class="label"></label>
                <input asp-for="Day026" type="checkbox" class="Checkbox">
                <label asp-for="Day027" class="label"></label>
                <input asp-for="Day027" type="checkbox" class="Checkbox">
                <label asp-for="Day028" class="label"></label>
                <input asp-for="Day028" type="checkbox" class="Checkbox">
                <label asp-for="Day029" class="label"></label>
                <input asp-for="Day029" type="checkbox" class="Checkbox">
                <label asp-for="Day030" class="label"></label>
                <input asp-for="Day030" type="checkbox" class="Checkbox">
                <label asp-for="Day031" class="label"></label>
                <input asp-for="Day031" type="checkbox" class="Checkbox">
                <label asp-for="Day032" class="label"></label>
                <input asp-for="Day032" type="checkbox" class="Checkbox">
                <label asp-for="Day033" class="label"></label>
                <input asp-for="Day033" type="checkbox" class="Checkbox">
                <label asp-for="Day034" class="label"></label>
                <input asp-for="Day034" type="checkbox" class="Checkbox">
                <label asp-for="Day035" class="label"></label>
                <input asp-for="Day035" type="checkbox" class="Checkbox">
                <label asp-for="Day036" class="label"></label>
                <input asp-for="Day036" type="checkbox" class="Checkbox">
                <label asp-for="Day037" class="label"></label>
                <input asp-for="Day037" type="checkbox" class="Checkbox">
                <label asp-for="Day038" class="label"></label>
                <input asp-for="Day038" type="checkbox" class="Checkbox">
                <label asp-for="Day039" class="label"></label>
                <input asp-for="Day039" type="checkbox" class="Checkbox">
                <label asp-for="Day040" class="label"></label>
                <input asp-for="Day040" type="checkbox" class="Checkbox">
                <label asp-for="Day041" class="label"></label>
                <input asp-for="Day041" type="checkbox" class="Checkbox">
                <label asp-for="Day042" class="label"></label>
                <input asp-for="Day042" type="checkbox" class="Checkbox">
                <label asp-for="Day043" class="label"></label>
                <input asp-for="Day043" type="checkbox" class="Checkbox">
                <label asp-for="Day044" class="label"></label>
                <input asp-for="Day044" type="checkbox" class="Checkbox">
                <label asp-for="Day045" class="label"></label>
                <input asp-for="Day045" type="checkbox" class="Checkbox">
                <label asp-for="Day046" class="label"></label>
                <input asp-for="Day046" type="checkbox" class="Checkbox">
                <label asp-for="Day047" class="label"></label>
                <input asp-for="Day047" type="checkbox" class="Checkbox">
                <label asp-for="Day048" class="label"></label>
                <input asp-for="Day048" type="checkbox" class="Checkbox">
                <label asp-for="Day049" class="label"></label>
                <input asp-for="Day049" type="checkbox" class="Checkbox">
                <label asp-for="Day050" class="label"></label>
                <input asp-for="Day050" type="checkbox" class="Checkbox">
                <label asp-for="Day051" class="label"></label>
                <input asp-for="Day051" type="checkbox" class="Checkbox">
                <label asp-for="Day052" class="label"></label>
                <input asp-for="Day052" type="checkbox" class="Checkbox">
                <label asp-for="Day053" class="label"></label>
                <input asp-for="Day053" type="checkbox" class="Checkbox">
                <label asp-for="Day054" class="label"></label>
                <input asp-for="Day054" type="checkbox" class="Checkbox">
                <label asp-for="Day055" class="label"></label>
                <input asp-for="Day055" type="checkbox" class="Checkbox">
                <label asp-for="Day056" class="label"></label>
                <input asp-for="Day056" type="checkbox" class="Checkbox">
                <label asp-for="Day057" class="label"></label>
                <input asp-for="Day057" type="checkbox" class="Checkbox">
                <label asp-for="Day058" class="label"></label>
                <input asp-for="Day058" type="checkbox" class="Checkbox">
                <label asp-for="Day059" class="label"></label>
                <input asp-for="Day059" type="checkbox" class="Checkbox">
                <label asp-for="Day060" class="label"></label>
                <input asp-for="Day060" type="checkbox" class="Checkbox">
                <label asp-for="Day061" class="label"></label>
                <input asp-for="Day061" type="checkbox" class="Checkbox">
                <label asp-for="Day062" class="label"></label>
                <input asp-for="Day062" type="checkbox" class="Checkbox">
                <label asp-for="Day063" class="label"></label>
                <input asp-for="Day063" type="checkbox" class="Checkbox">
                <label asp-for="Day064" class="label"></label>
                <input asp-for="Day064" type="checkbox" class="Checkbox">
                <label asp-for="Day065" class="label"></label>
                <input asp-for="Day065" type="checkbox" class="Checkbox">
                <label asp-for="Day066" class="label"></label>
                <input asp-for="Day066" type="checkbox" class="Checkbox">
                <label asp-for="Day067" class="label"></label>
                <input asp-for="Day067" type="checkbox" class="Checkbox">
                <label asp-for="Day068" class="label"></label>
                <input asp-for="Day068" type="checkbox" class="Checkbox">
                <label asp-for="Day069" class="label"></label>
                <input asp-for="Day069" type="checkbox" class="Checkbox">
                <label asp-for="Day070" class="label"></label>
                <input asp-for="Day070" type="checkbox" class="Checkbox">
                <label asp-for="Day071" class="label"></label>
                <input asp-for="Day071" type="checkbox" class="Checkbox">
                <label asp-for="Day072" class="label"></label>
                <input asp-for="Day072" type="checkbox" class="Checkbox">
                <label asp-for="Day073" class="label"></label>
                <input asp-for="Day073" type="checkbox" class="Checkbox">
                <label asp-for="Day074" class="label"></label>
                <input asp-for="Day074" type="checkbox" class="Checkbox">
                <label asp-for="Day075" class="label"></label>
                <input asp-for="Day075" type="checkbox" class="Checkbox">
                <label asp-for="Day076" class="label"></label>
                <input asp-for="Day076" type="checkbox" class="Checkbox">
                <label asp-for="Day077" class="label"></label>
                <input asp-for="Day077" type="checkbox" class="Checkbox">
                <label asp-for="Day078" class="label"></label>
                <input asp-for="Day078" type="checkbox" class="Checkbox">
                <label asp-for="Day079" class="label"></label>
                <input asp-for="Day079" type="checkbox" class="Checkbox">
                <label asp-for="Day080" class="label"></label>
                <input asp-for="Day080" type="checkbox" class="Checkbox">
                <label asp-for="Day081" class="label"></label>
                <input asp-for="Day081" type="checkbox" class="Checkbox">
                <label asp-for="Day082" class="label"></label>
                <input asp-for="Day082" type="checkbox" class="Checkbox">
                <label asp-for="Day083" class="label"></label>
                <input asp-for="Day083" type="checkbox" class="Checkbox">
                <label asp-for="Day084" class="label"></label>
                <input asp-for="Day084" type="checkbox" class="Checkbox">
                <label asp-for="Day085" class="label"></label>
                <input asp-for="Day085" type="checkbox" class="Checkbox">
                <label asp-for="Day086" class="label"></label>
                <input asp-for="Day086" type="checkbox" class="Checkbox">
                <label asp-for="Day087" class="label"></label>
                <input asp-for="Day087" type="checkbox" class="Checkbox">
                <label asp-for="Day088" class="label"></label>
                <input asp-for="Day088" type="checkbox" class="Checkbox">
                <label asp-for="Day089" class="label"></label>
                <input asp-for="Day089" type="checkbox" class="Checkbox">
                <label asp-for="Day090" class="label"></label>
                <input asp-for="Day090" type="checkbox" class="Checkbox">
                <label asp-for="Day091" class="label"></label>
                <input asp-for="Day091" type="checkbox" class="Checkbox">
                <label asp-for="Day092" class="label"></label>
                <input asp-for="Day092" type="checkbox" class="Checkbox">
                <label asp-for="Day093" class="label"></label>
                <input asp-for="Day093" type="checkbox" class="Checkbox">
                <label asp-for="Day094" class="label"></label>
                <input asp-for="Day094" type="checkbox" class="Checkbox">
                <label asp-for="Day095" class="label"></label>
                <input asp-for="Day095" type="checkbox" class="Checkbox">
                <label asp-for="Day096" class="label"></label>
                <input asp-for="Day096" type="checkbox" class="Checkbox">
                <label asp-for="Day097" class="label"></label>
                <input asp-for="Day097" type="checkbox" class="Checkbox">
                <label asp-for="Day098" class="label"></label>
                <input asp-for="Day098" type="checkbox" class="Checkbox">
                <label asp-for="Day099" class="label"></label>
                <input asp-for="Day099" type="checkbox" class="Checkbox">
                <label asp-for="Day100" class="label"></label>
                <input asp-for="Day100" type="checkbox" class="Checkbox">
    </div>
</form>
